<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All Dynamic Libraries.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Torcs.app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>berniw.so.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>berniw2.so.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>berniw3.so.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>bt.so.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>damned.so.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>human.so.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>inferno.so.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>inferno2.so.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>libTorcs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>lliaw.so.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>olethros.so.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>simuv2.so.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>sparkle.so.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>ssggraph.so.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>telemetry.so.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>track.so.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F2F53F10DA742E7000D370D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FAEA32C0DA9D8A2003539AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FD99F060DAB1D61008A07B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FD99F980DAB1FE7008A07B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FD9A0090DAB2240008A07B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FE71DCF0DAC58EF008D6F50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FE722A90DAC7AD3008D6F50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1362E1E811AE7B5C00AF3D9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1362E6DA11AE7D9100AF3D9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1362E6F511AE7DB300AF3D9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1362E71011AE7DD600AF3D9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1362E74411AE7E2700AF3D9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1362E76511AE7E4A00AF3D9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1362E78011AE7E6200AF3D9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1362E7AA11AE7EB600AF3D9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1362E7BF11AE7ED600AF3D9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1362E7EB11AE7F4B00AF3D9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1362E80911AE7F6800AF3D9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1107260486CEB800E47090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
